<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patel's Dryfruit And Masala</title>
    <link rel="icon" type="image/x-icon" href="images\icon.ico" />
    <%- include('./Partials/Head') %>
</head>
<body>
    <%- include('./Partials/Navbar') %>
    Hello
    <%- include('./Partials/Script') %>
</body> 
</html>